<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Study Title</key>
	<string>CardinalKit Sample App</string>
	<key>Team Name</key>
	<string>Stanford Department of Medicine</string>
	<key>Email</key>
	<string>contact@stanford.edu</string>
	<key>Phone</key>
	<string>650-123-4567</string>
	<key>Copyright</key>
	<string>Made at Stanford with ❤️</string>
	<key>Website</key>
	<string>https://cardinalkit.org</string>
	<key>Tint Color</key>
	<string>#b6133f</string>
	<key>Primary Color</key>
	<string>#ff3961</string>
	<key>Review Consent Step Text</key>
	<string>Review Consent Form</string>
	<key>Reason for Consent Text</key>
	<string>Consent to join the Developer Health Research Study.</string>
	<key>Consent File Name</key>
	<string>My Consent Form</string>
	<key>Passcode Text</key>
	<string>Now you will create a passcode to identify yourself to the app and protect access to information you&apos;ve entered.</string>
	<key>Passcode Type</key>
	<string>4</string>
	<key>Completion Step Title</key>
	<string>Welcome aboard.</string>
	<key>Completion Step Text</key>
	<string>Thank you for joining this study.</string>
	<key>Failed Login Title</key>
	<string>Unable to Login 😔</string>
	<key>Failed Login Text</key>
	<string>Please try again in five minutes.</string>
	<key>Health Permissions Title</key>
	<string>Health Data</string>
	<key>Health Permissions Text</key>
	<string>On the next screen, you will be prompted to grant access to read and write some of your general and health information, such as height, weight, and steps taken so you don&apos;t have to enter it again.</string>
	<key>Background Read Frequency</key>
	<string>immediate</string>
	<key>Login-Sign-In-With-Apple</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>Title</key>
		<string>Sign in with Apple</string>
		<key>Text</key>
		<string>Sign in using your Apple ID is fast and easy, and Apple will not track any of your activities.</string>
	</dict>
	<key>Login-Passwordless</key>
	<true/>
	<key>Login Step Title</key>
	<string>Almost done!</string>
	<key>Login Step Text</key>
	<string>We need to confirm your email address and send you a copy of the consent you just signed.</string>
	<key>Withdrawal Instruction Title</key>
	<string>Are you sure you want to withdraw?</string>
	<key>Withdrawal Instruction Text</key>
	<string>Withdrawing from the study will reset the app to the state it was in prior to you originally joining the study.</string>
	<key>Withdraw Title</key>
	<string>We appreciate your time.</string>
	<key>Withdraw Text</key>
	<string>Thank you for your contribution to this study. We are sorry that you could not continue. The app will now close.</string>
	<key>Passcode On Return Text</key>
	<string>Welcome back!</string>
	<key>Consent Title</key>
	<string>Research Health Study Consent Form</string>
	<key>HealthKit Data to Read</key>
	<array>
		<string>StepCount</string>
		<string>DistanceWalkingRunning</string>
		<string>FlightsClimbed</string>
		<string>HeartRate</string>
	</array>
	<key>Consent Form</key>
	<dict>
		<key>Overview</key>
		<string>Welcome to CardinalKit. Vivamus laoreet erat sit amet tincidunt scelerisque. Maecenas odio sapien, molestie eu vulputate sodales, tincidunt at neque. Nunc venenatis velit et ligula dictum, eget accumsan felis consectetur. Donec scelerisque fermentum vestibulum. Nam molestie finibus mauris, id congue lectus ultrices eu. Nunc et odio vitae dui interdum dictum. Proin sagittis leo quam. Proin vulputate massa ac orci pulvinar, eget rhoncus urna congue. Sed ut vehicula tellus, eget scelerisque enim. Cras lobortis diam at faucibus scelerisque. Curabitur pharetra arcu erat, nec tincidunt mi eleifend ut. Nunc suscipit risus vitae consectetur sodales. Aenean vitae lectus odio. Phasellus diam orci, accumsan non elementum at, finibus condimentum mauris. Nullam est enim, rhoncus a rutrum sed, laoreet a magna.</string>
		<key>Data Gathering</key>
		<string>Your Data Gathering Section: Vivamus laoreet erat sit amet tincidunt scelerisque. Maecenas odio sapien, molestie eu vulputate sodales, tincidunt at neque. Nunc venenatis velit et ligula dictum, eget accumsan felis consectetur. Donec scelerisque fermentum vestibulum. Nam molestie finibus mauris, id congue lectus ultrices eu. Nunc et odio vitae dui interdum dictum. Proin sagittis leo quam. Proin vulputate massa ac orci pulvinar, eget rhoncus urna congue. Sed ut vehicula tellus, eget scelerisque enim. Cras lobortis diam at faucibus scelerisque. Curabitur pharetra arcu erat, nec tincidunt mi eleifend ut. Nunc suscipit risus vitae consectetur sodales. Aenean vitae lectus odio. Phasellus diam orci, accumsan non elementum at, finibus condimentum mauris. Nullam est enim, rhoncus a rutrum sed, laoreet a magna.</string>
		<key>Privacy</key>
		<string>Your Privacy Section: Vivamus laoreet erat sit amet tincidunt scelerisque. Maecenas odio sapien, molestie eu vulputate sodales, tincidunt at neque. Nunc venenatis velit et ligula dictum, eget accumsan felis consectetur. Donec scelerisque fermentum vestibulum. Nam molestie finibus mauris, id congue lectus ultrices eu. Nunc et odio vitae dui interdum dictum. Proin sagittis leo quam. Proin vulputate massa ac orci pulvinar, eget rhoncus urna congue. Sed ut vehicula tellus, eget scelerisque enim. Cras lobortis diam at faucibus scelerisque. Curabitur pharetra arcu erat, nec tincidunt mi eleifend ut. Nunc suscipit risus vitae consectetur sodales. Aenean vitae lectus odio. Phasellus diam orci, accumsan non elementum at, finibus condimentum mauris. Nullam est enim, rhoncus a rutrum sed, laoreet a magna.</string>
		<key>Data Use</key>
		<string>Your Data Use Section: Vivamus laoreet erat sit amet tincidunt scelerisque. Maecenas odio sapien, molestie eu vulputate sodales, tincidunt at neque. Nunc venenatis velit et ligula dictum, eget accumsan felis consectetur. Donec scelerisque fermentum vestibulum. Nam molestie finibus mauris, id congue lectus ultrices eu. Nunc et odio vitae dui interdum dictum. Proin sagittis leo quam. Proin vulputate massa ac orci pulvinar, eget rhoncus urna congue. Sed ut vehicula tellus, eget scelerisque enim. Cras lobortis diam at faucibus scelerisque. Curabitur pharetra arcu erat, nec tincidunt mi eleifend ut. Nunc suscipit risus vitae consectetur sodales. Aenean vitae lectus odio. Phasellus diam orci, accumsan non elementum at, finibus condimentum mauris. Nullam est enim, rhoncus a rutrum sed, laoreet a magna.</string>
		<key>Time Commitment</key>
		<string>Your Time Commitment Section: Vivamus laoreet erat sit amet tincidunt scelerisque. Maecenas odio sapien, molestie eu vulputate sodales, tincidunt at neque. Nunc venenatis velit et ligula dictum, eget accumsan felis consectetur. Donec scelerisque fermentum vestibulum. Nam molestie finibus mauris, id congue lectus ultrices eu. Nunc et odio vitae dui interdum dictum. Proin sagittis leo quam. Proin vulputate massa ac orci pulvinar, eget rhoncus urna congue. Sed ut vehicula tellus, eget scelerisque enim. Cras lobortis diam at faucibus scelerisque. Curabitur pharetra arcu erat, nec tincidunt mi eleifend ut. Nunc suscipit risus vitae consectetur sodales. Aenean vitae lectus odio. Phasellus diam orci, accumsan non elementum at, finibus condimentum mauris. Nullam est enim, rhoncus a rutrum sed, laoreet a magna.</string>
		<key>Study Survey</key>
		<string>Your Study Survey Section: Vivamus laoreet erat sit amet tincidunt scelerisque. Maecenas odio sapien, molestie eu vulputate sodales, tincidunt at neque. Nunc venenatis velit et ligula dictum, eget accumsan felis consectetur. Donec scelerisque fermentum vestibulum. Nam molestie finibus mauris, id congue lectus ultrices eu. Nunc et odio vitae dui interdum dictum. Proin sagittis leo quam. Proin vulputate massa ac orci pulvinar, eget rhoncus urna congue. Sed ut vehicula tellus, eget scelerisque enim. Cras lobortis diam at faucibus scelerisque. Curabitur pharetra arcu erat, nec tincidunt mi eleifend ut. Nunc suscipit risus vitae consectetur sodales. Aenean vitae lectus odio. Phasellus diam orci, accumsan non elementum at, finibus condimentum mauris. Nullam est enim, rhoncus a rutrum sed, laoreet a magna.</string>
		<key>Study Tasks</key>
		<string>Your Study Tasks Section: Vivamus laoreet erat sit amet tincidunt scelerisque. Maecenas odio sapien, molestie eu vulputate sodales, tincidunt at neque. Nunc venenatis velit et ligula dictum, eget accumsan felis consectetur. Donec scelerisque fermentum vestibulum. Nam molestie finibus mauris, id congue lectus ultrices eu. Nunc et odio vitae dui interdum dictum. Proin sagittis leo quam. Proin vulputate massa ac orci pulvinar, eget rhoncus urna congue. Sed ut vehicula tellus, eget scelerisque enim. Cras lobortis diam at faucibus scelerisque. Curabitur pharetra arcu erat, nec tincidunt mi eleifend ut. Nunc suscipit risus vitae consectetur sodales. Aenean vitae lectus odio. Phasellus diam orci, accumsan non elementum at, finibus condimentum mauris. Nullam est enim, rhoncus a rutrum sed, laoreet a magna.</string>
		<key>Withdrawing</key>
		<string>Your Withdrawing Section: Vivamus laoreet erat sit amet tincidunt scelerisque. Maecenas odio sapien, molestie eu vulputate sodales, tincidunt at neque. Nunc venenatis velit et ligula dictum, eget accumsan felis consectetur. Donec scelerisque fermentum vestibulum. Nam molestie finibus mauris, id congue lectus ultrices eu. Nunc et odio vitae dui interdum dictum. Proin sagittis leo quam. Proin vulputate massa ac orci pulvinar, eget rhoncus urna congue. Sed ut vehicula tellus, eget scelerisque enim. Cras lobortis diam at faucibus scelerisque. Curabitur pharetra arcu erat, nec tincidunt mi eleifend ut. Nunc suscipit risus vitae consectetur sodales. Aenean vitae lectus odio. Phasellus diam orci, accumsan non elementum at, finibus condimentum mauris. Nullam est enim, rhoncus a rutrum sed, laoreet a magna.</string>
	</dict>
	<key>Onboarding</key>
	<array>
		<dict>
			<key>Title</key>
			<string>First Title</string>
			<key>Description</key>
			<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry</string>
			<key>Logo</key>
			<string>😁</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Second Title</string>
			<key>Description</key>
			<string>Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</string>
			<key>Logo</key>
			<string>🦠</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Third Title</string>
			<key>Description</key>
			<string>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</string>
			<key>Logo</key>
			<string>🙉</string>
		</dict>
	</array>
</dict>
</plist>
