<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Study Title</key>
	<string>Cardiology Study</string>
	<key>Team Name</key>
	<string>BeatHeartDisease</string>
	<key>Email</key>
	<string>mbabakha@stanford.edu</string>
	<key>Phone</key>
	<string>(650) 723-9363</string>
	<key>Copyright</key>
	<string>Stanford-CS342</string>
	<key>Website</key>
	<string>https://cardinalkit.org</string>
	<key>Tint Color</key>
	<string>#b6133f</string>
	<key>New item</key>
	<string></string>
	<key>Primary Color</key>
	<string>#ff3961</string>
	<key>Review Consent Step Text</key>
	<string>Review Consent Form</string>
	<key>Reason for Consent Text</key>
	<string>Consent to join the Developer Health Research Study.</string>
	<key>Consent File Name</key>
	<string>My Consent Form</string>
	<key>Passcode Text</key>
	<string>Now you will create a passcode to identify yourself to the app and protect access to information you&apos;ve entered.</string>
	<key>Passcode Type</key>
	<string>4</string>
	<key>Completion Step Title</key>
	<string>Welcome aboard.</string>
	<key>Completion Step Text</key>
	<string>Onboarding has concluded. Moving to research dashboard.</string>
	<key>Failed Login Title</key>
	<string>Unable to Login</string>
	<key>Failed Login Text</key>
	<string>Please try again in five minutes.</string>
	<key>Health Permissions Title</key>
	<string>Permission to read Activity Data</string>
	<key>Health Permissions Text</key>
	<string>Your health information related to this study, may be used or disclosed in
connection with this research study, including, but not limited to information
pertaining to blood pressure management. This includes blood pressure readings,
blood pressure medications and other information that your doctor will use to
make blood pressure management decisions, which include kidney function lab
tests, electrolyte lab tests, race/ethnicity, age, weight, and pregnancy information.</string>
	<key>Health Records</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Permissions Text</key>
		<string>Your health information related to this study, may be used or disclosed in
connection with this research study, including, but not limited to information
pertaining to blood pressure management. This includes blood pressure readings,
blood pressure medications and other information that your doctor will use to
make blood pressure management decisions, which include kidney function lab
tests, electrolyte lab tests, race/ethnicity, age, weight, and pregnancy information.</string>
		<key>Permissions Title</key>
		<string>Permission to read Health Records</string>
	</dict>
	<key>Background Read Frequency</key>
	<string>immediate</string>
	<key>Login-Sign-In-With-Apple</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Title</key>
		<string>Sign in with Apple</string>
		<key>Text</key>
		<string>Sign in using your Apple ID is fast and easy, and Apple will not track any of your activities.</string>
	</dict>
	<key>Login-Passwordless</key>
	<false/>
	<key>Login Step Title</key>
	<string>Almost done!</string>
	<key>Login Step Text</key>
	<string>We need to confirm your email address and send you a copy of the consent you just signed.</string>
	<key>Withdrawal Instruction Title</key>
	<string>Are you sure you want to withdraw?</string>
	<key>Withdrawal Instruction Text</key>
	<string>Withdrawing from the study will reset the app to the state it was in prior to you originally joining the study.</string>
	<key>Withdraw Title</key>
	<string>We appreciate your time.</string>
	<key>Withdraw Text</key>
	<string>Thank you for your contribution to this study. We are sorry that you could not continue. The app will now close.</string>
	<key>Passcode On Return Text</key>
	<string>Welcome back!</string>
	<key>Consent Title</key>
	<string>Research Health Study Consent Form</string>
	<key>Use CareKit</key>
	<true/>
	<key>HealthKit Data to Read</key>
	<array>
		<string>BloodPressureSystolic</string>
		<string>BloodPressureDiastolic</string>
		<string>StepCount</string>
		<string>DistanceWalkingRunning</string>
		<string>FlightsClimbed</string>
		<string>HeartRate</string>
	</array>
	<key>Consent Form</key>
	<dict>
		<key>Overview</key>
		<dict>
			<key>Title</key>
			<string>Description</string>
			<key>Summary</key>
			<string>You are invited to participate in a research study on using a new technology to manage high blood pressure (hypertension) at home without requiring clinic visits, using a mobile application and a home blood pressure cuff. You will be asked to record your blood pressure at home twice a week, for a total of 12 weeks, using a blood pressure cuff that will be provided to you, which will then collect and send readings to your doctor. Your doctor may then modify your blood pressure medications, including changing doses or adding new medications, based on your blood pressure readings. You will also be asked to fill out surveys on this technology, which will be de-identified and used for research purposes to improve the technology.</string>
			<key>Content</key>
			<string>You are invited to participate in a research study on using a new technology to manage high blood pressure (hypertension) at home without requiring clinic visits, using a mobile application and a home blood pressure cuff. You will be asked to record your blood pressure at home twice a week, for a total of 12 weeks, using a blood pressure cuff that will be provided to you, which will then collect and send readings to your doctor. Your doctor may then modify your blood pressure medications, including changing doses or adding new medications, based on your blood pressure readings. You will also be asked to fill out surveys on this technology, which will be de-identified and used for research purposes to improve the technology.

American Heart Association is providing financial support and/or material for this study.

Identifiers might be removed from identifiable private information and, after such removal, the information could be used for future research studies or distributed to another investigator for future research studies without additional informed consent from you. 

Any of your survey responses which are used in research may result in new products, tests or discoveries. In some instances, these may have potential commercial value and may be developed and owned by the Investigators, Stanford University and/or others.  However, participants do not retain any property rights to the materials.  Therefore, you would not share in any financial benefits from these products, tests or discoveries.

If you have read this form and have decided to participate in this project, please understand your participation is voluntary and you have the right to withdraw your consent or discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled. 

The results of this research study may be presented at scientific or professional meetings or published in scientific journals.  However, your identity will not be disclosed.

You have the right to refuse to answer particular questions. 

			</string>
		</dict>
		<key>DataGathering</key>
		<dict>
			<key>Title</key>
			<string>Data Gathering</string>
			<key>Summary</key>
			<string>The purpose of the research study is to evaluate the feasibility of a mobile technology to manage blood pressure (hypertension) at home without requiring you to come into a doctor’s office. This involves using a home blood pressure cuff, direct transmission of readings to your doctor. Your health information will be used only in the context of your doctor changing your blood pressure medications based on your home blood pressure readings. You will also fill out surveys on the technology which will not contain your health information and will be de-identified and used to improve the technology.</string>
			<key>Content</key>
			<string>The purpose of the research study is to evaluate the feasibility of a mobile technology to manage blood pressure (hypertension) at home without requiring you to come into a doctor’s office. This involves using a home blood pressure cuff, direct transmission of readings to your doctor. Your health information will be used only in the context of your doctor changing your blood pressure medications based on your home blood pressure readings. You will also fill out surveys on the technology which will not contain your health information and will be de-identified and used to improve the technology.</string>
		</dict>
		<key>Privacy</key>
		<dict>
			<key>Title</key>
			<string>Privacy</string>
			<key>Summary</key>
			<string>The following parties are authorized to use and/or disclose your health information in connection with this research study: 
- The Protocol Director (Dr. Paul Wang) 
- The Stanford University Administrative Panel on Human Subjects in Medical Research 
- and any other unit of Stanford University as necessary Research Staff</string>
			<key>Content</key>
			<string>The following parties are authorized to use and/or disclose your health information in connection with this research study: 
- The Protocol Director (Dr. Paul Wang) 
- The Stanford University Administrative Panel on Human Subjects in Medical Research 
- and any other unit of Stanford University as necessary Research Staff</string>
		</dict>
		<key>DataUse</key>
		<dict>
			<key>Title</key>
			<string>Data Use</string>
			<key>Summary</key>
			<string>Your health information related to this study, may be used or disclosed in connection with this research study, including, but not limited to information pertaining to blood pressure management. This includes blood pressure readings, blood pressure medications and other information that your doctor will use to make blood pressure management decisions, which include kidney function lab tests, electrolyte lab tests, race/ethnicity, age, weight, and pregnancy information.</string>
			<key>Content</key>
			<string>Your health information related to this study, may be used or disclosed in connection with this research study, including, but not limited to information pertaining to blood pressure management. This includes blood pressure readings, blood pressure medications and other information that your doctor will use to make blood pressure management decisions, which include kidney function lab tests, electrolyte lab tests, race/ethnicity, age, weight, and pregnancy information.
			
Your health information related to this study, may be used or disclosed in connection with this research study, including, but not limited to information pertaining to blood pressure management. This includes blood pressure readings, blood pressure medications and other information that your doctor will use to make blood pressure management decisions, which include kidney function lab tests, electrolyte lab tests, race/ethnicity, age, weight, and pregnancy information. 

The following parties are authorized to use and/or disclose your health information in connection with this research study:
•	The Protocol Director (Dr. Paul Wang)
•	The Stanford University Administrative Panel on Human Subjects in Medical Research and any other unit of Stanford University as necessary
•	Research Staff

The parties listed in the preceding paragraph may disclose your health information to the following persons and organizations for their use in connection with this research study: 

•	The Office for Human Research Protections in the U.S. Department of Health and Human Services
•	The American Heart Association
•	The Food and Drug Administration

The study team will purchase material from Omron HealthCare, Inc, for this study.

Your information may be re-disclosed by the recipients described above, if they are not required by law to protect the privacy of the information.

Your authorization for the use and/or disclosure of your health information will end on December 31, 2050 or when the research project ends, whichever is earlier. 
			</string>
		</dict>
		<key>TimeCommitment</key>
		<dict>
			<key>Title</key>
			<string>Time Commitment</string>
			<key>Summary</key>
			<string>Your participation in this experiment will take approximately 3 months.</string>
			<key>Content</key>
			<string>Your participation in this experiment will take approximately 3 months.</string>
		</dict>
		<key>StudySurvey</key>
		<dict>
			<key>Title</key>
			<string>Study Survey</string>
			<key>Summary</key>
			<string>To maintain the integrity of this research study, you may not have access to any health information developed as part of this study until it is completed. At that point, you would have access to such health information if it was used to make a medical or billing decision about you (e.g., if included in your official medical record).</string>
			<key>Content</key>
			<string>To maintain the integrity of this research study, you may not have access to any health information developed as part of this study until it is completed. At that point, you would have access to such health information if it was used to make a medical or billing decision about you (e.g., if included in your official medical record).</string>
		</dict>
		<key>StudyTasks</key>
		<dict>
			<key>Title</key>
			<string>Risks and Benefits</string>
			<key>Summary</key>
			<string>Although you will use an FDA-approved home blood pressure monitor, there is a risk that the home blood pressure may not be accurate, and you may receive an incorrect medication dose change or new medication. The benefits which may reasonably be expected to result from this study are regular blood pressure management without requiring physical visits to a doctor’s office, minimizing daily life disruptions and costs associated with visiting doctors’ offices for blood pressure measurement or medication changes, and obtaining more regular home blood pressure readings. These may lead to better blood pressure control, which is associated with improved long-term outcomes such as reducing the risk of heart and kidney complications. We cannot and do not guarantee or promise that you will receive any benefits from this study.  Your decision whether or not to participate in this study will not affect your employment/medical care.

You will receive no reimbursement as payment for your participation. 

All forms of medical diagnosis and treatment – whether routine or experimental – involve some risk of injury. In spite of all precautions, you might develop medical complications from participating in this study. If such complications arise, the Protocol Director and the research study staff will assist you in obtaining appropriate medical treatment. In the event that you have an injury or illness that is directly caused by your participation in this study, reimbursement for all related costs of care first will be sought from your insurer, managed care plan, or other benefits program. You will be responsible for any associated co-payments or deductibles as required by your insurance.

If costs of care related to such an injury are not covered by your insurer, managed care plan or other benefits program, you may be responsible for these costs. If you are unable to pay for such costs, the Protocol Director will assist you in applying for supplemental benefits and explain how to apply for patient financial assistance from the hospital.

You do not waive any liability rights for personal injury by signing this form.
			</string>
			<key>Content</key>
			<string>Although you will use an FDA-approved home blood pressure monitor, there is a risk that the home blood pressure may not be accurate, and you may receive an incorrect medication dose change or new medication. The benefits which may reasonably be expected to result from this study are regular blood pressure management without requiring physical visits to a doctor’s office, minimizing daily life disruptions and costs associated with visiting doctors’ offices for blood pressure measurement or medication changes, and obtaining more regular home blood pressure readings. These may lead to better blood pressure control, which is associated with improved long-term outcomes such as reducing the risk of heart and kidney complications. We cannot and do not guarantee or promise that you will receive any benefits from this study.  Your decision whether or not to participate in this study will not affect your employment/medical care.

You will receive no reimbursement as payment for your participation. 

All forms of medical diagnosis and treatment – whether routine or experimental – involve some risk of injury. In spite of all precautions, you might develop medical complications from participating in this study. If such complications arise, the Protocol Director and the research study staff will assist you in obtaining appropriate medical treatment. In the event that you have an injury or illness that is directly caused by your participation in this study, reimbursement for all related costs of care first will be sought from your insurer, managed care plan, or other benefits program. You will be responsible for any associated co-payments or deductibles as required by your insurance.

If costs of care related to such an injury are not covered by your insurer, managed care plan or other benefits program, you may be responsible for these costs. If you are unable to pay for such costs, the Protocol Director will assist you in applying for supplemental benefits and explain how to apply for patient financial assistance from the hospital.

You do not waive any liability rights for personal injury by signing this form.</string>
		</dict>
		<key>Withdrawing</key>
		<dict>
			<key>Title</key>
			<string>Withdrawing</string>
			<key>Summary</key>
			<string>
			If you decide to participate, you are free to withdraw your authorization regarding the use and disclosure of your health information (and to discontinue any other participation in the study) at any time.  After any revocation, your health information will no longer be used or disclosed in the study, except to the extent that the law allows us to continue using your information (e.g., necessary to maintain integrity of research).  If you wish to revoke your authorization for the research use or disclosure of your health information in this study, you must write to: Dr. Paul Wang, 300 Pasteur Drive, Room A260, MC 5233, Stanford, CA 94305, Phone: (650) 723-9363
			
The Protocol Director may also withdraw you from the study without your consent for one or more of the following reasons
o Failure to follow the instructions of the Protocol Director and study staff.
o The Protocol Director decides that continuing your participation could be
harmful to you.
o Pregnancy
o You need treatment not allowed in the study.
o The study is cancelled.
o Other administrative reasons.
o Unanticipated circumstances.
			</string>
			<key>Content</key>
			<string>If you decide to participate, you are free to withdraw your authorization regarding the use and disclosure of your health information (and to discontinue any other participation in the study) at any time.  After any revocation, your health information will no longer be used or disclosed in the study, except to the extent that the law allows us to continue using your information (e.g., necessary to maintain integrity of research).  If you wish to revoke your authorization for the research use or disclosure of your health information in this study, you must write to: Dr. Paul Wang, 300 Pasteur Drive, Room A260, MC 5233, Stanford, CA 94305, Phone: (650) 723-9363

The Protocol Director may also withdraw you from the study without your consent for one or more of the following reasons
o Failure to follow the instructions of the Protocol Director and study staff.
o The Protocol Director decides that continuing your participation could be
harmful to you.
o Pregnancy
o You need treatment not allowed in the study.
o The study is cancelled.
o Other administrative reasons.
o Unanticipated circumstances.
			</string>
		</dict>
	</dict>
	<key>Onboarding</key>
	<array>
		<dict>
			<key>Title</key>
			<string>First Title</string>
			<key>Description</key>
			<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry</string>
			<key>Logo</key>
			<string>1️⃣</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Second Title</string>
			<key>Description</key>
			<string>Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</string>
			<key>Logo</key>
			<string>2️⃣</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Third Title</string>
			<key>Description</key>
			<string>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</string>
			<key>Logo</key>
			<string>3️⃣</string>
		</dict>
	</array>
	<key>Sign-In-With-Email-Provision</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
