<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806755930989-af4rk313be8gt9n4gmkcec9m14cnadrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806755930989-af4rk313be8gt9n4gmkcec9m14cnadrp</string>
	<key>API_KEY</key>
	<string>AIzaSyDJtBALfdJMYmWj42BLNUFPr-TAMFBZ3do</string>
	<key>GCM_SENDER_ID</key>
	<string>806755930989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alternova.example</string>
	<key>PROJECT_ID</key>
	<string>cardinalkit-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>cardinalkit-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806755930989:ios:3f05716ddeb70e14cd0064</string>
	<key>DATABASE_URL</key>
	<string>https://cardinalkit-testing-default-rtdb.firebaseio.com</string>
</dict>
</plist>