<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:https://cs342.page.link</string>
		<string>applinks:https://cs342.page.link/zLL2</string>
		<string>applinks:cs342.page.link</string>
		<string>https://cs342.page.link</string>
		<string>cs342.page.link</string>
		<string>applinks:https://mhealthcs342.page.link/u9DC</string>
		<string>applinks:https://mhealthcs342.page.link</string>
		<string>applinks:mhealthcs342.page.link</string>
		<string>https://mhealthcs342.page.link</string>
		<string>mhealthcs342.page.link</string>
	</array>
	<key>com.apple.developer.default-data-protection</key>
	<string>NSFileProtectionComplete</string>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array>
		<string>health-records</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)edu.stanford.cs342.sample-study</string>
	</array>
</dict>
</plist>
